.footer{
    display: grid;
    grid-template-columns: 23% 23% 23% 20%;
    /* margin-top:230px ; */
    margin-left: 30px;
    width: 1000px;
    /* border-top: 1px solid rgba(82, 82, 82, 0.401); */
    padding-top: 80px;
    font-size: 12px;
}
.footerContainer{
    margin-left: 20%;
}
.footerContainer h1{
    font-size: 13px;
    color: black;

}
.copyright{
    text-align: center;
    margin-top:40px;
    margin-left: -90px;
}
.shift{
    border: 1px solid rgba(56, 56, 56, 0.3);
    width: 1000px;
    margin-left:200px;
    margin-top:230px ;
}